body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}

button {
    background-color: #ff0d00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1ecc3;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.completed {
    background-color: #c7ffc7;
    text-decoration: line-through;
}

.priority {
    color: #FF5733;
}